.body {
  width: 480px;
}

.body :global .vue-swatches__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.title {
  color: var(--titleColor);
  font: var(--titleFont);
  margin: 0;
}

.capture {
  color: var(--titleColor);
  font: var(--subTitleFont);
  margin: 0 0 16px;
}

.description {
  width: 100%;
}